Repository giovanettid/react-navigation: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

.lintstagedrc.json:

{
  "**/*.{js,jsx,json,scss,md}": "prettier --write",
  "{src,test}/**/*.{js,jsx}": "eslint",
  "src/**/*.scss": "stylelint"
}

routing: add leaflet-routing-machine dependency
  package-lock.json
  package.json
Due: prettier --write

routing: add 2 waypoints routing sample
  package-lock.json
  package.json
  src/components/Application.jsx
  src/components/Configuration.js
  src/components/RoutingControl.jsx
  src/components/main.jsx
  src/styles/main.scss
  test/unit/components/Application.test.jsx
  test/unit/components/Configuration.test.js
  test/unit/components/RoutingControl.test.jsx
  test/unit/components/routing-response.json
Due: prettier --write, eslint, stylelint

geocoding: add leaflet-control-geocoder dependency
  package-lock.json
  package.json
Due: prettier --write

geocoding: geocode inputs search addresses
  src/components/Application.jsx
  src/components/Configuration.js
  src/components/RoutingControl.jsx
  src/styles/main.scss
  test/unit/components/Application.test.jsx
  test/unit/components/Configuration.test.js
  test/unit/components/RoutingControl.test.jsx
  test/unit/components/reverse-end-response.json
  test/unit/components/reverse-start-response.json
  test/unit/components/routing-response.json
  test/unit/components/search-end-response.json
  test/unit/components/search-start-response.json
Due: prettier --write, eslint, stylelint

fakeServer: extract setup
  test/unit/components/Application.test.jsx
  test/unit/components/RoutingControl.test.jsx
Due: prettier --write, eslint

fake responses: move to fake directory
  test/unit/components/Application.test.jsx
  test/unit/components/RoutingControl.test.jsx
  test/unit/components/fakes/reverse-end-response.json
  test/unit/components/fakes/reverse-start-response.json
  test/unit/components/fakes/routing-response.json
  test/unit/components/fakes/search-end-response.json
  test/unit/components/fakes/search-start-response.json
Due: prettier --write, eslint

refacto: rename
  src/components/MapConfiguration.js
  src/components/main.jsx
  test/unit/components/Application.test.jsx
  test/unit/components/MapConfiguration.test.js
Due: prettier --write, eslint

refacto: rename
  src/components/Map.jsx
  src/components/Map.scss
  src/components/main.jsx
  test/unit/components/Map.test.jsx
Due: prettier --write, eslint, stylelint

refacto: split configuration
  src/components/Map.jsx
  src/components/MapConfiguration.js
  src/components/MapEnvironment.js
  test/unit/components/Map.test.jsx
  test/unit/components/MapConfiguration.test.js
  test/unit/components/MapEnvironment.test.js
Due: prettier --write, eslint

refacto: move component to sub directory
  src/components/Map.jsx
  src/components/RoutingControl/RoutingControl.jsx
  test/unit/components/RoutingControl.test.jsx
Due: prettier --write, eslint

refacto: move component to sub directory
  src/components/Map/Map.jsx
  src/components/Map/Map.scss
  src/components/Map/MapConfiguration.js
  src/components/Map/MapEnvironment.js
  src/components/main.jsx
  test/unit/components/Map.test.jsx
  test/unit/components/MapConfiguration.test.js
  test/unit/components/MapEnvironment.test.js
Due: prettier --write, eslint, stylelint

refacto: move configuration to sub directory
  src/components/Map/Configuration/MapConfiguration.js
  src/components/Map/Configuration/MapEnvironment.js
  src/components/main.jsx
  test/unit/components/Map.test.jsx
  test/unit/components/MapConfiguration.test.js
  test/unit/components/MapEnvironment.test.js
Due: prettier --write, eslint

prettier: re-order imports
  .prettierrc.json
  package-lock.json
  package.json
  src/components/Map/Map.jsx
  src/components/RoutingControl/RoutingControl.jsx
  src/components/main.jsx
  test/unit/components/Map.test.jsx
  test/unit/components/RoutingControl.test.jsx
  test/unit/setup-test-framework-script.js
Due: prettier --write, eslint

dev server: configure proxy
  src/components/Map/Configuration/MapEnvironment.js
  test/unit/components/MapEnvironment.test.js
  webpack.config.js
Due: prettier --write, eslint

environment: remove hosts
  src/components/Map/Configuration/MapConfiguration.js
  src/components/Map/Configuration/MapEnvironment.js
  src/components/Map/Map.jsx
  src/components/RoutingControl/RoutingControl.jsx
  test/unit/components/Map.test.jsx
  test/unit/components/MapConfiguration.test.js
  test/unit/components/MapEnvironment.test.js
  test/unit/components/RoutingControl.test.jsx
Due: prettier --write, eslint

browser-sync: use proxy
  apis.js
  browsersync-config.js
  package-lock.json
  package.json
  webpack.config.js
Due: prettier --write

refacto: move geocoder and router to MapConfiguration
  src/components/Map/Configuration/MapConfiguration.js
  src/components/Map/Map.jsx
  src/components/RoutingControl/RoutingControl.jsx
  test/unit/components/MapConfiguration.test.js
  test/unit/components/RoutingControl.test.jsx
Due: prettier --write, eslint

path: check for bike profile
  .eslintrc.js
  browsersync-config.js
  package-lock.json
  package.json
  src/components/Map/Configuration/MapConfiguration.js
  src/components/main.jsx
  test/unit/components/MapConfiguration.test.js
  webpack.config.js
Due: prettier --write, eslint

routing: use graphhopper on bike profile
  apis.js
  browsersync-config.js
  package-lock.json
  package.json
  src/components/Map/Configuration/MapConfiguration.js
  test/unit/components/MapConfiguration.test.js
  webpack.config.js
Due: prettier --write, eslint

refacto: split configuration
  src/components/Map/Configuration/ContainerConfiguration.js
  src/components/Map/Configuration/ControlConfiguration.js
  src/components/Map/Configuration/LayerConfiguration.js
  src/components/Map/Configuration/MapConfiguration.js
  src/components/Map/Map.jsx
  test/unit/components/ContainerConfiguration.test.js
  test/unit/components/ControlConfiguration.test.js
  test/unit/components/LayerConfiguration.test.js
  test/unit/components/MapConfiguration.test.js
Due: prettier --write, eslint

tests: add graphhopper case
  test/unit/components/Map.test.jsx
  test/unit/components/RoutingControl.test.jsx
  test/unit/components/fakes/graphhopper-routing-response.json
  test/unit/components/fakes/osrm-routing-response.json
Due: prettier --write, eslint

pwa: add manifest & minimal service worker
  .eslintrc.js
  jest.config.json
  package-lock.json
  package.json
  src/components/main.jsx
  src/components/serviceWorkerRegistration.js
  src/images/launchericons/openstreetmap-144-144.png
  src/images/launchericons/openstreetmap-96-96.png
  src/index.ejs
  src/manifest.json
  src/serviceWorker.js
  webpack.config.js
Due: prettier --write, eslint

html: update favicon & title
  src/images/favicon-32x32.png
  src/images/favicon.ico
  webpack.config.js
Due: prettier --write

mobile: add viewport meta
  src/index.ejs
Due: none

graphhopper: add path alternative
  src/components/Map/Configuration/ControlConfiguration.js
  test/unit/components/ControlConfiguration.test.js
  test/unit/components/Map.test.jsx
  test/unit/components/fakes/graphhopper-routing-response.json
Due: prettier --write, eslint

geolocation: geolocate start point
  .eslintrc.js
  src/components/Map/Map.jsx
  src/components/RoutingControl/RoutingControl.jsx
  test/.eslintrc.js
  test/unit/components/Map.test.jsx
  test/unit/components/RoutingControl.test.jsx
  test/unit/components/fakes/reverse-response.json
  test/unit/components/fakes/reverse-start-response.json
  test/unit/setup-test-framework-script.js
Due: prettier --write, eslint

geolocation: extract component Geolocator
  src/components/Geolocator/Geolocator.js
  src/components/Map/Configuration/ControlConfiguration.js
  src/components/Map/Map.jsx
  test/unit/components/ControlConfiguration.test.js
  test/unit/components/Geolocator.test.jsx
  test/unit/components/Map.test.jsx
Due: prettier --write, eslint

geolocation: extract fake geolocation api
  test/unit/components/Geolocator.test.jsx
  test/unit/components/Map.test.jsx
  test/unit/components/RoutingControl.test.jsx
  test/unit/components/fakes/geolocation.js
Due: prettier --write, eslint
